<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007308789949-mg5h5qa45hcca62vpu0ptcqtiqq4gd5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007308789949-mg5h5qa45hcca62vpu0ptcqtiqq4gd5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBTTEu8sB_DAKdWJIAzCuPFWjPzDo5jfmk</string>
	<key>GCM_SENDER_ID</key>
	<string>1007308789949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.AuthenticationExample</string>
	<key>PROJECT_ID</key>
	<string>fir-samples-f0eea</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-samples-f0eea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007308789949:ios:616574d5d1d3b06113ffd4</string>
</dict>
</plist>